<div class="buscador_it_001">
    <div class="add_lig" routerLink="/partidos">Regresar a partidos</div>
</div>
<br><br>

<div class="formulario">
    <h2>Agregar un partido</h2><br>
    <form #f="ngForm" ngNativeValidate (ngSubmit)="enviarDatos(f)">
        <div class="form_div cada_linea">
            <div class="titulo_form ib">
                Deporte:
            </div>
            <div class="datos_form ib">
                <input id="ipt_deporte" (focus)="selectMostrar = 'deportes'" placeholder="Seleccione o escriba un deporte" autocomplete="off" class="select_form" (keyup)="buscarDeporte($event.target.value)">
                <div class="resp_form" *ngIf="selectMostrar === 'deportes'" (click)="clickedInside($event)">
                    <div (click)="seleccionDeporte( deporte.id_categoria, deporte.descripcion )" class="cada_resp" *ngFor="let deporte of depor">{{ deporte.descripcion }}</div>
                </div>
            </div>
        </div>
        <div class="form_div cada_linea">
            <div class="titulo_form ib">
                Ligas:
            </div>
            <div class="datos_form ib">
                <input id="ipt_liga" (focus)="selectMostrar = 'ligas'" placeholder="Seleccione o escriba una liga" autocomplete="off" class="select_form" (keyup)="buscarLiga($event.target.value)">
                <div class="resp_form" *ngIf="selectMostrar === 'ligas'" (click)="clickedInside($event)">
                    <div (click)="cargarEquipos( liga.id_liga, liga.nombre_liga )" class="cada_resp" *ngFor="let liga of lig ">{{ liga.nombre_liga }}</div>
                </div>
            </div>
        </div>
        <div class="form_div cada_linea">
            <div class="titulo_form ib">
                Fecha y Hora:
            </div>
            <div class="datos_form ib">
                <input type="datetime-local" class="select_form" name="fecha_partido" [(ngModel)]="partido.fecha_inicio" value="1">
            </div>
        </div>
        <div class="form_div cada_linea">
            <div class="titulo_form ib">
                Cuotas:
            </div>
            <div class="datos_form ib">
                <input id="ipt_cuota" (focus)="selectMostrar = 'cuotas'" placeholder="Seleccione o escriba un tipo de cuota" autocomplete="off" class="select_form" value="Decimal">
                <div class="resp_form" *ngIf="selectMostrar === 'cuotas'" (click)="clickedInside($event)">
                    <div (click)="seleccionCuota( '1', 'Decimal' )" class="cada_resp">Decimal</div>
                    <div (click)="seleccionCuota( '2', 'Fraccional' )" class="cada_resp">Fraccional</div>
                </div>
            </div>
        </div><br>
        <div class="form_div cada_linea" style="margin-bottom: 20px;">
            <div class="titulo_form ib">
                Equipo 1:
            </div>
            <div class="datos_form ib">
                <input id="ipt_eq1" name="equipo1" (focus)="selectMostrar = 'equipo1'" placeholder="Seleccione o escriba un equipo" autocomplete="off" class="select_form select_equipo" [(ngModel)]="partido.equipos[0]" style="width: 70%;" (keyup)="buscarEquipo1($event.target.value, 0)">
                <input type="text" class="select_form select_div" style="width: 30%;" (keyup)="cuotaDecimal($event.target.value, 0)" autocomplete="off" id="div_e1">
                <span class="dividendo_alt">{{partido.descripcion[3]}}</span>
                <div class="resp_form" *ngIf="selectMostrar === 'equipo1'" (click)="clickedInside($event)" style="width: 70%;">
                    <div (click)="seleccionEquipo( eq.id_equipo, eq.nombre_equipo, '1' )" class="cada_resp" *ngFor="let eq of eq1 " style="position: relative;"><img src="http://www.betzone.com.ve/bzbk/public/imagenes/equipos/{{eq.img}}" alt="" height="95%" style="position: absolute; top: 1px; left: 6px;"> {{ eq.nombre_equipo }}</div>
                </div>
            </div>
        </div>
        <div class="form_div cada_linea" style="margin-bottom: 20px;">
            <div class="titulo_form ib">
                Equipo 2:
            </div>
            <div class="datos_form ib">
                <input id="ipt_eq2" (focus)="selectMostrar = 'equipo2'" placeholder="Seleccione o escriba un equipo" autocomplete="off" name="equipo2" class="select_form select_equipo" [(ngModel)]="partido.equipos[1]" style="width: 70%;" (keyup)="buscarEquipo2($event.target.value, 1)">
                <input type="text" class="select_form select_div" style="width: 30%;" (keyup)="cuotaDecimal($event.target.value, 1)" autocomplete="off" id="div_e2">
                <span class="dividendo_alt">{{partido.descripcion[4]}}</span>
                <div class="resp_form" *ngIf="selectMostrar === 'equipo2'" (click)="clickedInside($event)" style="width: 70%;">
                    <div (click)="seleccionEquipo( eq.id_equipo, eq.nombre_equipo, '2' )" class="cada_resp" *ngFor="let eq of eq2 "><img src="http://www.betzone.com.ve/bzbk/public/imagenes/equipos/{{eq.img}}" alt="" height="95%" style="position: absolute; top: 1px; left: 6px;">{{ eq.nombre_equipo }}</div>
                </div>
            </div>
        </div>
        <div class="form_div cada_linea" style="margin-bottom: 20px;">
            <div class="titulo_form ib">
                Equipo 3:
            </div>
            <div class="datos_form ib">
                <input id="ipt_eq3" name="equipo3" (focus)="selectMostrar = 'equipo3'" placeholder="Seleccione o escriba un equipo" autocomplete="off" class="select_form select_equipo" [(ngModel)]="partido.equipos[2]" style="width: 70%;" (keyup)="buscarEquipo3($event.target.value, 2)">
                <input type="text" class="select_form select_div" style="width: 30%;" (keyup)="cuotaDecimal($event.target.value, 2)" autocomplete="off" id="div_e3">
                <span class="dividendo_alt">{{partido.descripcion[5]}}</span>
                <div class="resp_form" *ngIf="selectMostrar === 'equipo3'" (click)="clickedInside($event)" style="width: 70%;">
                    <div (click)="seleccionEquipo( eq.id_equipo, eq.nombre_equipo, '3' )" class="cada_resp" *ngFor="let eq of eq3 "><img src="http://www.betzone.com.ve/bzbk/public/imagenes/equipos/{{eq.img}}" alt="" height="95%" style="position: absolute; top: 1px; left: 6px;">{{ eq.nombre_equipo }}</div>
                </div>
            </div>
        </div>
        <div class="partes_tit barra_botn">
            <input type="submit" class="boton ef_slice" value="Crear">
        </div>

    </form>
</div>