<div class="zona_bet" style="position: relative">
    <div class="div_zb_1 zb_lado" style="position: relative">
        <div style="width: 100%; height: 100%; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3; background: #0a5f0d5e;" *ngIf="esperando === true">
        </div>
        <div style="width: 100%; height: 100px; text-align: center; position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); z-index: 4;" *ngIf="esperando === true"><img style="width: 17%;" src="../assets/iconos/pro.svg"></div>
        <div class="banner_nuevo">
            <img src="../../../assets/misc/banner_nuevo.jpg" width="100%" height="100%">
            <div class="title_esp_bn">Nuevos clientes</div>
            <div class="sub_title_esp_bn">Bono de ingreso de 10%</div>
            <div class="hasta_esp_bn">Hasta Bs.S. 10.000</div>
            <div class="condi_esp_bn">Se aplican ciertas condiciones</div>
            <div class="bn_btn_reg">
                <div class="btn_esp_bn">Regístrate Hoy</div>
                <div class="more_esp_bn">Más información</div>
            </div>
        </div>

        <div class="title_ap_fav bajo_verde_green">Encuentros para las próximas 24 horas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <form name="invfrm" (ngSubmit)="buscarEquipo(f.value)" #f="ngForm" ngNativeValidate style="display: inline-block;">
                <input class="solo_hoy" type="text" name="busqueda" placeholder="Busque un equipo" ngModel required #busqueda="ngModel">
            </form>
        </div>
        <div class="title_ap_fav" style="padding: 0px;" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <ng-container *ngFor="let juego of juegos">
                <div *ngIf="juego.juegos !== 0" class="ep_cada_cat  " id="temp-{{juego.id_categoria}}" routerLink="/importantes/{{juego.id_categoria}}">
                    <div class="imagen_dep"><img src="../../../assets/deportes/{{juego.id_categoria}}.svg" alt="" height="27px;"></div>
                    <div class="texto_imagen_dep">{{juego.categoria}}</div>
                    <div class='spin_cat' id="spin-{{juego.id_categoria}}">{{juego.juegos}}</div>
                </div>
            </ng-container>
        </div>
        <div style="width: 100%; height: 25rem; text-align: center; position: relative;" *ngIf='estatus === "incompleto" && partidos !== null'>
            <div style="
            background: #313131; padding: 7px; border-radius: 3px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;">No se encontraron juegos disponibles para este deporte.</div>
        </div>
        <div class="juegos_principales_zb1" *ngIf=" partidos !== []">

            <div *ngFor="let partido of partidos">
                <ng-container *ngIf="partido.equipos">
                    <div class='ep_cada_liga' *ngIf="partido.nombre_liga !== null">{{partido.nombre_liga}} <img [src]="partido.id_pais + '.png' | imagen:'nacionalidad'" height=16px></div>
                    <div class='banda_fecha' *ngIf="partido.manana">Mañana, {{ partido.fecha_inicio | date:'d/MM/yyyy'}}</div>
                    <div class='ep_cada_partido'>
                        {{partido.titulo}}
                        <span>{{ partido.fecha_inicio | date:'d/MM/yyyy'}} - {{ partido.fecha_inicio | date:'shortTime'}}</span>
                    </div>
                    <div class="expandir" [routerLink]="['/verPartido', partido.id_partido]" [queryParams]="{partido: partido}" style="background: #666; height: 30px; padding-top: 7px;">
                        <i class="fas fa-expand"></i>&nbsp;Ampliar
                    </div>
                    <div [ngClass]="queclase( partido.equipos, partido.id_categoria, equipo.id_equipo )" *ngFor="let equipo of partido.equipos" (click)="selecciond( equipo.id_participante, partido.id_categoria )">
                        <div [class]="partido.id_categoria | importantes:equipo.nombre "><img *ngIf="equipo.nombre !== 'Empate'" [src]="equipo.img | imagen:'equipo'" height=125% class='ep_logo'>{{equipo.nombre}}<br>
                            <div class="div_span" *ngIf="(partido.id_categoria === '24' || partido.id_categoria === '29') && equipo.nacionalidad !== '0'">{{equipo.pais}} <img [src]="equipo.nacionalidad + '.png' | imagen:'nacionalidad'" height=12px></div>
                            <div class="div_span" *ngIf="(partido.id_categoria === '24' || partido.id_categoria === '29') && equipo.nacionalidad === '0'">Sin información <i class="fas fa-info-circle"></i> </div>
                            <div class="pitcher_eq" *ngIf="(partido.id_categoria === '22') && equipo.pitcher !== false">{{equipo.pitcher.nombre}} ({{equipo.pitcher.era}}) </div>
                            <div class="pitcher_eq" style="display: none" *ngIf="(partido.id_categoria === '22') && equipo.pitcher === false">Sin información <i class="fas fa-info-circle"></i> </div>
                        </div>
                        <div class='ep_cl_logro'>{{equipo.dividendo | cuota:'decimal'}}</div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="juegos_principales_zb1" *ngIf="carreras !== [] && carreras !== undefined && carreras !== null">
            <div class='title_ap_fav bajo_verde_green'>Venezuela <img [src]="'231.png' | imagen:'nacionalidad'" height=17px></div>
            <div class="renglon_gris">
                <div class="rg_menu" *ngFor="let dia of dias_carr" [routerLink]="['/importantes', '27' ]" [queryParams]="{dia: dia.dia }" [class.rg_select]="dia_c === dia.dia">{{dia.dia}}</div>
            </div>
            <div class="carr_c1" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
                <div *ngFor="let carrera of carreras" [routerLink]="['/importantes', '27' ]" [queryParams]="{dia: carrera.dia, carrera: carrera.numero }" style="display: inline-block; outline: none;">
                    <div *ngIf="carrera.dia === dia_c" class="cc_menu" [class.cc_select]="carrera_c === carrera.numero">
                        <div class="cc_numero">{{carrera.numero}}</div>
                        <div class="cc_cuadro"></div>
                        <div class="cc_hora">{{ carrera.fecha_hora | date:'shortTime'}}</div>
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let carrera of carreras">
                <ng-container *ngIf="carrera.numero === carrera_c && carrera.dia === dia_c">
                    <div style="background: #404040">
                        <div class='carrera_disp'>Carrera {{carrera.numero}} - <span *ngIf="carrera.valida === '0'">No vál.</span> <span *ngIf="carrera.valida !== '0'">{{carrera.valida}}ª vál.</span> - {{carrera.distancia}} mts. - {{ carrera.fecha_hora | date:'shortTime'}}
                            <span *ngIf="carrera.titulo">- {{carrera.titulo}}</span>
                            <span style="color: #ccc; font-size: 1em;" *ngIf="carrera.descripcion"> - {{carrera.descripcion}}</span>
                        </div>
                        <div class="expandir" style="vertical-align: middle" [routerLink]="['/verCarrera', carrera.id_carrera]" [queryParams]="{carrera: carrera}">
                            <i class="fas fa-expand"></i> <br> Expandir
                        </div>
                    </div>

                    <div class='cab_inscrito' *ngFor="let ins of carrera.inscritos">
                        <div class='nro_puerta'>
                            <div class='num_par'>{{ins.numero}}</div>
                            <div class='pue_par'>{{ins.puesto}}</div>
                        </div>
                        <div class='jersey_u'>
                            <img [src]="ins.id_stud.id_stud + '.png' | imagen: 'stud' " height=42px>

                        </div>
                        <div class='datos_pr' style="width: 40%;">
                            <div class='nomb_cab' *ngIf="ins.id_caballo.nombre !== ''">{{ins.id_caballo.nombre}}</div>
                            <div class='jin_cab' style="color: #999999;">
                                <span *ngIf="ins.id_jinete !== '0'" style="color: #efefef;">{{ins.id_jinete.nombre}}</span>
                                <span *ngIf="ins.id_jinete === '0'">Sin información <i class="fas fa-info-circle"></i></span> /
                                <span *ngIf="ins.id_entrenador !== '0'" style="color: #efefef;">{{ins.id_entrenador.nombre}}</span>
                                <span *ngIf="ins.id_entrenador === '0'">Sin información <i class="fas fa-info-circle"></i></span></div>
                        </div>
                        <div class='datos_pr' style="width: 25%;">
                            <div class='nomb_cab nopad'>Peso: {{ins.peso}} kgs.</div>
                            <div class='jin_cab'>Edad:
                                <span *ngIf="ins.id_caballo.edad === '0'" style="color: #999999;"> Sin información <i class="fas fa-info-circle"></i> </span>
                                <span *ngIf="ins.id_caballo.edad !== '0'" style="color: #efefef;"> {{ins.id_caballo.edad }} </span></div>
                        </div>
                        <div *ngIf="ins.status !== '2'" (click)="seleccionh( ins.id_inscripcion )" class='a_ganar' id='pry_cab-$id_inscripcion'>A<br>Ganar</div>
                        <div *ngIf="ins.status === '2'" style="font-size: 2.3em;" class='a_ganar a_g_r'>R</div>
                    </div>
                </ng-container>
            </ng-container>
        </div>

    </div>
    <div class="div_zb_2 zb_lado">
        <div ap_fav_zb2>
            <ng-container *ngIf="envivos !== undefined">
                <div class="title_ap_fav bajo_verde_green" *ngIf="envivos !== undefined">
                    <span>Ver en vivo</span>
                    <select name="enviv" id="envivi" (change)="regenerar($event.target.value)" class="datetime">
                        <option *ngFor="let env of envivos " value={{env.live_id}}>{{ env.titulo }}</option>
                    </select>
                </div>

                <div style="height: 207px; overflow: hidden; position: relative; text-align: right; background: white;">
                    <div class="tapalogo">BETZONE</div>

                    <div class="iframe">
                        <iframe [src]="urlSafe" width="348" height="348" frameborder="0" scrolling="no" id="iframejogo"></iframe>
                    </div>
                    <div>VER PARTIDO</div>
                </div>
            </ng-container>

            <div class="title_ap_fav bajo_verde_green">Apuestas favoritas</div>
            <div *ngFor="let dest of destacados">
                <ng-container *ngIf="dest.equipos">

                    <img [src]="dest.id_partido + '.png' | imagen:'partido'" width=100% class='img_dtcd' *ngIf="dest.img !== null">
                    <div class="img_dest" [ngStyle]="{'background': 'url(../../assets/vallas/' + dest.id_categoria + '.jpg) no-repeat center center'}">
                        <ng-container *ngFor="let equipo of dest.equipos; let i = index">

                            <span class="versus" [class.letra_color]="dest.id_categoria === '26'" *ngIf="i === 1"> VS </span>
                            <img *ngIf="equipo.nombre !== 'Empate'" [src]="equipo.img | imagen:'equipo'" class='ep_logo' style="position: static;" [class.redondo]="dest.id_categoria === '24'">

                        </ng-container>
                    </div>
                    <div class='titulo_destacado'>
                        <span class='liga_dtcd'>{{dest.nombre_liga}}</span>
                        <span class='equipos_dtcd'>{{dest.titulo}}</span>
                    </div>
                    <div class='ep_descripcion_ta'>{{ dest.fecha_inicio | date:'d/MM/yyyy'}} - {{ dest.fecha_inicio | date:'shortTime'}}</div>
                    <div class='ep_cada_logo destacado_odd' *ngFor="let equipo of dest.equipos" (click)="selecciond( equipo.id_participante, dest.id_categoria )">
                        <img class="destacado_img" [src]="equipo.img | imagen:'equipo'" height=125%>
                        <div class='ep_cl_name destacado_name'>{{equipo.nombre}}</div>
                        <div class='ep_cl_logro destacado_cuota'>{{equipo.dividendo | cuota:'decimal'}}</div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="zona_cuota">
        <app-cuotas></app-cuotas>
    </div>
</div>