<app-menu-caballos></app-menu-caballos>

<div>
    <div class='cada_hrs pan_hrs' style="text-align: center; height: 210px;" routerLink="/nuevaCarrera">
        <br><br><br>
        <i class="far fa-plus-square" style="font-size: 3em;"></i><br>Agregar Carrera
    </div>
    <div class='cada_hrs' style="height: 210px;" *ngFor="let carrera of carreras">
        <div class='numero_hrs' [routerLink]="['/carrera', carrera.id_carrera ]" [queryParams]="{zona:'inscripciones'}" style="cursor: pointer">
            <div class='nro_cen'>{{carrera.numero}}</div>
            <div class='nro_jan' *ngIf="carrera.valida !== '0'">{{carrera.valida}}ª vál.</div>
            <div class='nro_jan' *ngIf="carrera.valida === '0'">No vál.</div>
        </div>
        <div class='datos_num_hrs'>
            <div class='title_hrs'>{{carrera.titulo}}</div>
            <div class='title_hrs'>CÓD: {{carrera.codigo}}</div>
        </div>
        <div class='desc_car'>{{carrera.descripcion}}</div>
        <div class='d_padre_hrs'>Hipodromo: </div>
        <div class='padre_hrs'>{{carrera.id_hipodromo.descripcion}} </div>
        <div class='d_padre_hrs'>Distancia: </div>
        <div class='padre_hrs'>{{carrera.distancia}}</div>
        <div class='d_padre_hrs'>Fecha: </div>
        <div class='padre_hrs'>{{carrera.fecha_hora | date:'d/MM/yyyy'}}</div>
        <div class='d_padre_hrs'>Hora: </div>
        <div class='padre_hrs'>{{ carrera.fecha_hora | date:'shortTime'}}</div>
    </div>
</div>