<div class="barra_div_izq">
    <img src="../../../../assets/iconos/logo_bz_1024.png" width="70%"> <br>
    <div style="font-size: 0.9em; padding-top: 8px;">
        {{_inicioSesion.usuario?.usuario}} <br> {{_inicioSesion.usuario?.nombres}} {{_inicioSesion.usuario?.apellidos}}
    </div>
</div>
<ng-container id="menuBarra">
    <div malihu-scrollbar [scrollbarOptions]="scrollbarOptions" [ngStyle]="{'height': _generalService.largoCentral}">
        <div class="brr_izq_menu">

            Inicio

        </div>

        <div class="brr_izq_menu">

            Apuestas en <span>Directo</span>

        </div>

        <div class="brr_izq_menu">

            Baloncesto

        </div>

        <div class="brr_izq_menu">

            Balonmano

        </div>

        <div class="brr_izq_menu">

            Béisbol

        </div>

        <div class="brr_izq_menu">

            Boxeo

        </div>

        <div class="brr_izq_menu">

            Carreras de caballos

        </div>

        <div class="brr_izq_menu">

            Carreras de galgos

        </div>

        <div class="brr_izq_menu">

            Ciclismo

        </div>

        <div class="brr_izq_menu">

            Dardos

        </div>

        <div id="pagine_10" class="brr_izq_menu submenu ">

            <div>Deportes de Invierno</div>
            <div class="submenu_flecha"><span class="flecha_enc">&#9660;</span></div>

        </div>

        <div id="submenu_10" class="brr_izq_submenu">

            <div class="brr_izq_menu">

                Biatlón

            </div>

            <div class="brr_izq_menu">

                Esquí de fondo

            </div>

            <div class="brr_izq_menu">

                Saltos de esquí

            </div>

        </div>

        <div class="brr_izq_menu ">

            Deportes electrónicos

        </div>

        <div id="pagine_12" class="brr_izq_menu submenu ">

            <div>Especiales</div>
            <div class="submenu_flecha"><span class="flecha_enc">&#9660;</span></div>

        </div>

        <div id="submenu_12" class="brr_izq_submenu">

            <div class="brr_izq_menu">

                Australia

            </div>

            <div class="brr_izq_menu">

                Globales

            </div>

            <div class="brr_izq_menu">

                América del Norte

            </div>

            <div class="brr_izq_menu">

                Dinamarca

            </div>

            <div class="brr_izq_menu">

                Italia

            </div>

            <div class="brr_izq_menu">

                Reino Unido

            </div>

            <div class="brr_izq_menu">

                Suecia

            </div>

        </div>

        <div class="brr_izq_menu ">

            Financieros

        </div>

        <div class="brr_izq_menu ">

            Fórmula 1

        </div>

        <div class="brr_izq_menu ">

            Fútbol

        </div>

        <div class="brr_izq_menu ">

            Fútbol Américano

        </div>

        <div class="brr_izq_menu ">

            Golf

        </div>

        <div class="brr_izq_menu ">

            Hockey sobre hielo

        </div>

        <div class="brr_izq_menu ">

            Lotería

        </div>

        <div id="pagine_20" class="brr_izq_menu submenu ">

            <div>Motor</div>
            <div class="submenu_flecha"><span class="flecha_enc">&#9660;</span></div>

        </div>

        <div id="submenu_20" class="brr_izq_submenu">

            <div class="brr_izq_menu">

                Motociclismo

            </div>

            <div class="brr_izq_menu">

                Súpercars

            </div>

            <div class="brr_izq_menu">

                Náscar

            </div>

            <div class="brr_izq_menu">

                Rally

            </div>

        </div>

        <div class="brr_izq_menu ">

            Rugby League

        </div>

        <div class="brr_izq_menu ">

            Rugby Union

        </div>

        <div class="brr_izq_menu ">

            Snooker

        </div>

        <div class="brr_izq_menu ">

            Speedway

        </div>

        <div class="brr_izq_menu ">

            Tenis

        </div>

        <div class="brr_izq_menu ">

            Voleibol

        </div>
    </div>
</ng-container>