<div class="buscador_it_001"><input #caja type="text" name="search_eq" placeholder="Buscar un equipo" class="search_eq" disabled>
    <div class="add_lig" routerLink="/ligas">Regresar a ligas</div>
</div>
<br><br><br><br>

<div class="formulario">
    <div>
        <label>
          Nombre de la Liga:
          <input type="text" class="entrada" [(ngModel)]="liga.nombre_liga">
        </label>
        <label>
            URL de actualización:
            <input type="text" class="entrada" [(ngModel)]="liga.url">
        </label>
        <label>
            Categoría de Deporte
            <select name="deporte" class="entrada" [(ngModel)]="liga.id_categoria">
                <option *ngFor="let deporte of deportes" value={{deporte.id_categoria}}>{{ deporte.descripcion }}</option>
            </select>
        </label>
        <label>
            País de la liga
            <select class="entrada" name="liga" [(ngModel)]="liga.id_pais">
                <option *ngFor="let nacionalidad of nacionalidades " value={{nacionalidad.id_lista_p}}>{{ nacionalidad.nombre }}</option>
            </select>
        </label>
        <div class="partes_tit barra_botn">
            <div class="butt_lig butt_canc_lig">Cancelar</div>
            <div class="butt_lig butt_acep_lig" (click)="enviarDatos(liga)">Aceptar</div>
        </div>
    </div>
</div>