<div class='body_histo'>
    <div class='menu_barra_mem'>
        <div class='btn_deposit' style="cursor: pointer" [routerLink]="['/deposito']" routerLinkActive="router-link-active">Depósito</div>
        <div class='tab_menu_mem tmm_select' [routerLink]="['/bancos']" routerLinkActive="router-link-active">Bancos</div>
        <div class='tab_menu_mem' [routerLink]="['/mi-cuenta']" routerLinkActive="router-link-active">Mi cuenta</div>
        <div class='tab_menu_mem' routerLink="/historial/{{_inicioSesion.usuario.token}}" routerLinkActive=" router-link-active">Historial</div>
        <div class='tab_menu_mem' [routerLink]="['/promociones']" routerLinkActive="router-link-active">Promociones</div>
        <div class='tab_menu_mem' [routerLink]="['/mensajes']" routerLinkActive="router-link-active">Mensajes</div>
    </div>
</div>
<div class="body_histo">
	<div class="tarjeta" *ngFor="let cuenta of cuentas">
		<div class="tjt_tit">
			<span>{{cuenta.banco_id[0].nombre}}</span> <br>
			<img src="../assets/misc/{{cuenta.banco_id[0].id_banco}}.png" width="60%">
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">A nombre:</div>
			<div class="tjt_des">{{cuenta.nombre}}</div>
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">Documento:</div>
			<div class="tjt_des">{{cuenta.documento}}</div>
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">Tipo:</div>
			<div class="tjt_des">Corriente</div>
		</div>
		<div class="tjt_cpo">
			<div class="tjt_stt">Número:</div>
			<div class="tjt_des">{{cuenta.numero}}</div>
		</div>
		<div class="tjt_cpo" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
			<div class="tjt_stt">Correo:</div>
			<div class="tjt_des">{{cuenta.correo}}</div>
		</div>
	</div>
	
</div>