.inpiut {
    text-align: center;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 83%;
}

.upd_act {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: center;
}

.upd_act:hover {
    color: #ffdf1b;
}