.tr_col1 {
    width: 5%;
    border-left: none;
}

.tr_col2 {
    width: 12%
}

.tr_col3 {
    width: 19%
}

.tr_col4 {
    width: 19%;
}

.tr_col5 {
    width: 12%;
}

.tr_col6 {
    width: 11%;
}

.tr_col7 {
    width: 11%;
}

.tr_col8 {
    width: 11%;
}